{% load static %}
{% if request.path == '/' %}
    <nav class="navbar navbar-expand-lg bg-transparent navbar-dark">
{% else %}
    <nav class="navbar navbar-expand-lg bg-white shadow-sm">
{% endif %}
    <div class="container">
        <a class="navbar-brand py-0 d-flex align-items-center" href="{% url 'landing' %}">
            <span class="d-block">
                {% if request.path == '/' %}
                <img src="{% static 'img/logo_white.svg' %}" alt="logo" width="50">
                {% else %}
                <img src="{% static 'img/logo.svg' %}" alt="logo" width="50">
                {% endif %}
            </span>
            <span class="d-none d-sm-block ms-2">Django Meet</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <div class="d-flex align-items-center justify-content-center py-2 ">
                <span class="text-sm">MENU</span>
                <span class="navbar-toggler-icon"></span>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
